build
build-debug
.cache
.root
.undodir
*.sw*
*.un~
dot
*.bc
# Ignore other MLIR files but not tests
*.mlir
!tests/mlir/**/*.mlir
*.hevm
*.o
*.so
*.dot
*.csv
!CMakeLists.txt
*__pycache__
*.cst
*.nsys-rep
*.sqlite
!.gitignore
!requirements.txt
!versions.txt
python/hecate/dist
python/hecate/hecate.egg-info
python/poly/dist
python/poly/poly.egg-info
python/hetorch/dist
python/hetorch/hetorch.egg-info
examples/optimized
examples/traced
examples/data
Session.vim
.venv
examples/benchinputs
